<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TestServiceEndpoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1193/TestService.svc" binding="basicHttpBinding"
                bindingConfiguration="TestServiceEndpoint" contract="TestService.ITestService"
                name="TestServiceEndpoint" />
        </client>
    </system.serviceModel>
</configuration>